<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Объявления</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css" th:href="@{/style.css}"/>
  <style type="text/css">
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand align-self-center" href="/main">Объявления</i></a>

    <div class="navbar-collapse" id="navbarSupportedContent" >
      <div class="dropdown">
        <button class="btn" th:text="${user.firstName}" style="border-left:1px solid #0d8bf2">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a th:href="'/page/' + ${user.id}">Мой аккаунт</a>
          <a href="/login">Выход</a>
        </div>
      </div>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<main class="col-md-9 mr-auto ml-auto col-lg-10 px-md-4" style="margin: 0 auto; margin-top: 60px;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
 <div ><p th:text="${item.title}" class ="title"></p></div>
    <div class="horizontal">
  <img th:src="${item.imagePath}" alt="" style="width: 45%; height: 45%; padding-left:2%; padding-top:2%;"/>
    <div>
      <div><p style="padding-left: 10px; font-size: xx-large;" th:text="${item.title}"></p></div>
      <div><p style="padding-left: 10px; font-size: xx-large;" th:text="'Стоимость: ' + ${item.price} + ' руб'"></p></div>
          <div class="horizontal-btn">
          <div>
            <a th:href="'/deal/'+${item.id}"><button class="dbbtn" style="width: 200px;" >Арендовать</button></a>
          </div>
          <div><a th:href="'/message_room_check/'+${owner.id}"><button class="dbbtn" style="width:200px;">Написать владельцу</button></a></div>
          </div>
      <div><p style="padding-left: 10px; font-size: large;" th:text="${item.about}"></p></div>
      <div class="horizontal-btn">
        <div>
          <a th:href="'/user/'+${owner.id}">
            <img th:src="${owner.imagePath}" alt="" style="width: 45px; height: 45px"/>
          </a>
        </div>
        <div style="padding-top:-5%">
          <a th:text="${owner.firstName} + ' ' + ${owner.secondName}" th:href="'/user/'+${owner.id}"></a>
        </div>
        <div style="padding-top:-5%"><p th:text="${owner.score}"></p></div>
      </div>
    </div>
  </div>

</main>
</body>
</html>